div.content {
  margin-top: 6rem;

  height: 100%;
  width: 95%;

  display: flex;
  flex-direction: column;
  align-self: center;

  button {
    height: 4.375rem;
    width: 100%;

    color: #CCCCCC;

    border: 0.1rem dashed #CCCCCC;
    border-radius: 0.4rem;

    outline: none; 
  }

  button:hover {
    border: 0.1rem dashed #075E93;
    color: #075E93;
  }

  div:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem #075E93;  
  }

  div {
    height: 4.375rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 1rem;

    padding: 1rem;

    background: #FFF;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0 #CCCCCC;
    
    span {

      @media(min-width: 1100px) {
        display: flex;
      }
       

       p {
        color: #CCCCCC;
        margin-right: 0.2rem;
       }
    }

    h3 {
      font-size: 1rem;
      color: #075E93;
      font-weight: normal;
    }

    p {
      font-size: 0.9rem
    }

  }

}