div.content {

  padding: 3rem 1rem 1rem;


  width: 95%;

  display: flex;
  flex-direction: column;
 

  a.add {
    width: 100%;
    padding: 1.4rem;

    margin-bottom: 1rem;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #CCCCCC;

    border: 0.1rem dashed #CCCCCC;
    border-radius: 0.4rem;

    outline: none; 
    text-decoration: none;
  }

  a.add:hover {
    border: 0.1rem dashed #075E93;
    color: #075E93;
  }

  a.company:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem #075E93;  
  }

  a.company {
    height: 4.375rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-bottom: 1rem;

    padding: 1rem;

    background: #FFF;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0 #CCCCCC;

    text-decoration: none;
    
    span {

      @media(min-width: 1100px) {
        display: flex;
      }
       

       p {
        color: #CCCCCC;
        margin-right: 0.2rem;
       }
    }

    h3 {
      font-size: 1rem;
      color: #075E93;
      font-weight: normal;
    }

    p {
      font-size: 0.9rem
    }

  }

}