img.loading {
  height: 10%;
  animation: rotation 2s infinite linear;

  margin-top: 10rem;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}