img.loading {
  height: 10%;
  width: 30%;
  
  display: flex;
  align-self: center;


  animation: rotation 2s infinite linear;

  margin-top: 10rem;
}


@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}