
input.search {

  align-self: center;

  @media(min-width:768px) {
    align-self: flex-end;
  }

  outline: none;
  
  width: 13.625rem;
  height: 2.188rem;

  padding: 1rem;
  margin: 1rem 0;

  font-style: italic;
  font-size: 1rem;

  border-radius: 1rem;
  border: 0.1rem solid #CCCCCC;

  background-image: url('../../assets/svg/icon/search.svg');
  background-repeat: no-repeat;
  background-position: 95% 50%;
  
  ::placeholder {
    color: #CCCCCC;
  }
}